body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
       
  background: linear-gradient(90deg,
    rgba(121, 55, 177, 1) 0%,
    rgba(63, 122, 174, 1) 100%);
}

.searchBox{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: #f3f3f3;
  border-radius: 6px;
}

 h1,
 h2 {
  color: #f3f3f3;
  text-align: center;
 }

 h1 {
  font-size: 1.8rem;
  font-weight: 600;
 }

 h2 {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0.5rem auto;
  width: 80%;
 }
